@import 'setup';

.active{
    border: 2px solid blue;
    color:blue;
}

.result{
    border: 2px solid red;
    color: red;
}



/************ GLOBAL STYLES ************/

body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: khaki;
    height: 100vh;

}

.wrapper{
    max-width: 1280px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}


img{
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}


/************ HEADER STYLES ************/

.seinfeld-logo{
    width: 300px;
}


.main-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

h1{
    font-weight: 400;
}

/* Score Card  */

.score-container{
    margin: 10px 0;
}

.score p{
    text-transform: uppercase;
    font-size: 20px;

}

.score{
    border: 2px solid black;
    padding: 10px 40px;
    border-radius: 5px 5px;
}

/* Timer */

.timer{
    width: 100px;
    font-size: 50px;
}

#seconds{
    display: none;
}

/************ MAIN STYLES ************/


main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 70%;
    /* width: 100%; */
}

/* Random Quote */

.quote-container{
    max-width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 2rem;
    font-size: 25px;
    height: 500px;
    margin-top: 20px;
}

.quote-container div{
    display: flex;
    margin: 20px;
}

.fa-quote-left{
    display: none;
    margin-right: 15px;
}

.citation{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    /* height: 100px; */
}

/* gif */

.gif-container{
    height: 500px;
    display: none;
}

#gif{
    margin-bottom: 80px;
}

/* Buttons */

.button-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quote-btn{
    color: green;
    border: 2px solid green;
    box-shadow: 5px 5px;
    margin-bottom: 25px;
}

button{
    padding: 10px;
    height: 80px;
    width: 100px;
    border: 2px solid black;
    font-size: 15px;
    margin-left: 20px;
    background: khaki;
    box-shadow: 5px 5px;
    position: relative;
}

button:first-child{
    margin-left: 0;
}

button:hover{
    border: 2px solid blue;
    color: blue;
    cursor: pointer;
}

.deco{
    position: absolute;
    width: 40px;
    bottom: -15px;
    right: -15px;
    z-index: -1;
}


/************ FOOTER STYLES ************/

footer{
    border-top: 1px solid black;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    padding: 10px 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.credits{
    font-size: 12px;
    letter-spacing: 0.5px;
}

.credits a{
    border-bottom: 1px solid black;
}

.credit{
    width: 120px;
    display: inline-block;
}


/* Animations */


.pulse{
    animation-name: pulse;
    -webkit-animation-name: pulse;  

    animation-duration: 2.5s;   
    -webkit-animation-duration: 2.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;       
    }
    50% {
        transform: scale(1);
        opacity: 1; 
    }   
    100% {
        transform: scale(0.9);
        opacity: 0.7;   
    }           
}